* {
    font-family: calibri;
}


.navbar, .navbar-custom  {
    background-image: url(imgs/Capture2222.jpg);
    
}
        

.navbar-brand {
    letter-spacing: .5em;
    color: royalblue;
    text-shadow: 0 0 .5px black ;
    font-size: 21pt; 
} 

ul {
    color: royalblue;
    text-shadow: 0 0 .5px blue ;
    font-size: 18px;  
}

.container {
    margin: auto;
}

.content {
    margin-top: 100px; 
}

h2 {
    text-align: center;
    color: royalblue;
}

p {
    font-size: 14pt; 
}

