* {
    font-family: calibri;
}

.navbar, .navbar-custom  {
    background-image: url(imgs/Capture2222.jpg);
    
}
        
.navbar-brand {
    letter-spacing: .5em;
    color: royalblue;
    font-size: 21pt; 
} 

ul {
    color: royalblue;
    text-shadow: 0 0 .5px blue ;
    font-size: 18px;  
}

.portfolio-item-row-1 {
    margin-top: 20px;
    margin-bottom: 30px; 
}

.portfolio-item-row-1, .portfolio-item {
    padding: 20px; 
}


p {
    text-align: left;
    font-size: 14pt;
}

.do, .re, .mi, .fa, .so, .la {
    height: 250px; 
    width: 500px; 
}

.img-centered {
    margin: auto;
}

h2 {
    color: royalblue;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}


